.pic-slider{
	position: absolute;
	height: 40vh;
	width: 100vw;
	top: 0;
	opacity: 3;
	user-select: none;
	transform: translate3d(0, 60vh, 0);
	transition: transform 0.5s, opacity 0.5s;
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
}
.pic-wrapper{
	height: 100%;
}
.art-container{
	text-align: center;
}
.gal-item img{
	width: 100%;
	display: block;
	position: relative;
	z-index: 100;
}
.gal-item{
	padding: 0 5% 5%;
	opacity: 100;
	width: 30%;
	position: relative;
	text-align: left;
	transform: translate3d(0,75px,0);
	transition: transform 0.5s, opacity 0.5s;
	transition-timing-function: cubic-bezier(0.6,0,0.4,1);
}
.gal-title{
	font-size: 2.25em;
	font-weight: 700;
	margin: 80px 0 30px;
	padding: 50px 40px 15px;
	text-align: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.gal-title a{
	text-decoration: none;
	display: block;
	position: relative;
	overflow: hidden;
	color: #fff;
	width: 100%;
	backface-visibility: hidden;
}
.gal-title a span{
	display: block;
	color: #595959;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.gal-title a:hover {
	color: #fff;
}
.gal-cont1{
	display: flex;
}

.wrapper{
	width:250px;
	height: 300px;
	border: solid 2px #be89ff;
	overflow: hidden;
	margin: 100px auto 0px auto;
}
.image1{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/1.jpg);
	background-position: center;
	background-size: cover;
}
.image2{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/2.jpg);
	background-position: center;
	background-size: cover;
}
.image3{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/3.jpg);
	background-position: center;
	background-size: cover;
}
.image4{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/4.jpg);
	background-position: center;
	background-size: cover;
}
.image5{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/5.jpg);
	background-position: center;
	background-size: cover;
}
.image6{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/6.jpg);
	background-position: center;
	background-size: cover;
}
.image7{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/7.jpg);
	background-position: center;
	background-size: cover;
}
.image8{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/8.jpg);
	background-position: center;
	background-size: cover;
}
.image9{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/9.jpg);
	background-position: center;
	background-size: cover;
}
.image10{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/10.jpg);
	background-position: center;
	background-size: cover;
}
.image11{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/11.jpg);
	background-position: center;
	background-size: cover;
}
.image12{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/12.jpg);
	background-position: center;
	background-size: cover;
}
.image13{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/13.jpg);
	background-position: center;
	background-size: cover;
}
.image14{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/14.jpg);
	background-position: center;
	background-size: cover;
}
.image15{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/15.jpg);
	background-position: center;
	background-size: cover;
}
.image16{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/16.jpg);
	background-position: center;
	background-size: cover;
}
.image17{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/17.jpg);
	background-position: center;
	background-size: cover;
}
.image18{
	width: 100%;
	height: 100%;
	background-image: url(../images/works/18.jpg);
	background-position: center;
	background-size: cover;
}

/*.gal-cont1{
	height: 250px;
	width: 100%;
	margin-top: -20%;
	float: left;
}
.gal-box{

}
.gal-cont1 img{
	padding-right: 15%;
	position: flex;
}
.image1{
	width: 700px;
	height:350px;
	padding: 35px;
}
.image1BIG{
	text-align: center;
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image1:hover + .image1BIG{
	width: 300px;
}
.image2{
	width: 100px;
	height:100px;
}
.image2BIG{
	position: absolute;

	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image2:hover + .image2BIG{
	width: 300px;
	
}
.image3{
	width: 100px;
	height:100px;
}
.image3BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image3:hover + .image3BIG{
	width: 300px;
	
}
.image4{
	width: 100px;
	height:100px;
}
.image4BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image4:hover + .image4BIG{
	width: 300px;
	
}
.image5{
	width: 100px;
	height:100px;
}
.image5BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image5:hover + .image5BIG{
	width: 300px;
	
}
.image6{
	width: 100px;
	height:100px;
}
.image6BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image6:hover + .image6BIG{
	width: 300px;
	
}
.image7{
	width: 100px;
	height:100px;
}
.image7BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image7:hover + .image7BIG{
	width: 300px;
	
}
.image8{
	width: 100px;
	height:100px;
}
.image8BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image8:hover + .image8BIG{
	width: 300px;
	
}
.image9{
	width: 100px;
	height:100px;
}
.image9BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image9:hover + .image9BIG{
	width: 300px;
	
}
.image10{
	width: 100px;
	height:100px;
}
.image10BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image10:hover + .image10BIG{
	width: 300px;
	
}
.image11{
	width: 100px;
	height:100px;
}
.image11BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image11:hover + .image11BIG{
	width: 300px;
	
}
.image12{
	width: 100px;
	height:100px;
}
.image12BIG{
	position: absolute;
	width: 0px;
	-webkit-transition:width 0.3s linear 0s;
	transition: width 0.3s linear 0s;
	z-index: 10;
}
.image12:hover + .image12BIG{
	width: 300px;
	
}
*/


