body{

	background-image: url('anje.png');
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 0;
	margin: 0;
	color: #fff;
	background-size: cover;
	
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.ghost-button {

	display: inline-block;
	width: 200px;
	padding: 10px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	text-align: center;
	outline: none;
	text-decoration: none;
	margin-top: 30px;


}
.ghost-button:hover,
.ghost-button:active{

background-color: #fff;
color: #000;

}


.form{

	padding-left: 760px;
	padding-top:  200px;
	position: relative;

}

.facebook{

	padding-left: 610px;


}

h2{
	font-family: "Nova Slim";
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

ul{

	margin-top: 40px;
	display: flex;
	transform:translate(-8%,-50%); 

}
ul li{

	list-style: none;
	margin: 15px;
	font-size: 20px;
	transition: .5s;
	text-align: center;
	position: relative;
}


ul li a{

	width: 10px;
	display: block;
	color: #fff;
}



/** for responsive **/
@media screen and (max-width:959px){

	#tabang{

		width: 200%;

	}
	#form{

		width: 150%;

	}
	img{

		width: 100%;
		

	}

}

@media screen and (max-width: 640px){

	#tabang{

		width: 100%;

	}
	#form{

		width: 100%;

	}

}

@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    body {
        font-size: 15px;
    }
    

}