body {
	background-color: #141414; 
	color: #fff;
	font-size: 1em;
	overflow: hidden;
	position: relative;
	overflow-y: scroll;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul ul{
	margin-top: 5px;
	margin-left: -10px;
	position: absolute;
	width: 200px;
	text-align: left;
	color: #585558;
	display: none;
}
nav ul ul li{
	display: block;
}
nav ul li:hover > ul{
	display: block;
}
nav ul li{
	position: relative;
	padding: 10px;
	cursor: pointer;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}
.menu a {
	color: #585558;
	text-decoration: none;
	outline: none;
}
.menu{
list-style-type: none;
margin: 0;
padding: 0;
}
.menu a:hover {
	color: #863bd2;
}

.menu a:hover,
.menu a:focus {
	outline: none;
}
.nav-bar{
	padding: 1em 0;
	display: flex;
	flex: none;
	margin: 0 10px;
	z-index: 1000;
	position: relative;

}

.nav-bar h1 {
	font-size: 1em;
	margin: 0 auto 0 0;
	padding: 0em;
	padding-left: .7em;
}

.nav-bar h1 span {
	color: #57456a;
	padding-left: .5em;
}
.icon span {
	display: none;
}.backG > div {

	background: #212121  url(../images/bg.jpg)  no-repeat 50% 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.menu .current-page{
	color: #be89ff;
}

.container{
	background: url(../images/bg.jpg)  no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.about{

	background-image: url(../images/anje.png);
	background-position: center;
	background-size: cover;
	width: 100%;
	position: relative;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	display: flex;
	font-direction: column;

}
.about-container{
	
}
.separator {
    height: 2px;
    width: 20%;
    margin: auto;
    display: inline-block;
    border-bottom:3px solid #ddd;
}
.user-seperator{
    position: relative;
    left: 10%;
    top:-190px;
    width: 100%;

}

.about-main{
	margin:300px;
	overflow:hidden;
	text-align: center;

}
.about-title{

    font-size:26px;
    font-family: 'Abel';
    text-align: right;
    margin-top: 80px;
    margin-right: 155px;
}
.about-content{
	width: 30%;
	margin: 4%;
	margin-left: 65%;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}
.about-container{
	margin: 40px;
	
}
.about-icon{
	margin-top: 5%;
	padding-right: 230px;
	margin-bottom: 10px;
	text-align: right;
}
.ach-title{
	margin-top: -35%;
	font-size: 26px;
	text-align: center;
	font-family: 'Abel';
}
.ach-sep{
	height: 2px;
    width: 40%;
    margin: auto;
    border-bottom:3px solid #ddd;
}
.ach-display{
	display: flex;
	padding-left: 10px;
}

.ach-content{
	width: 100%;
	height: 100%;
	margin-top: 20%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}
.ach-content1{
	width: 100%;
	height: 100%;
	margin-top: 15%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.skill-sec{
	background-color: #7E3883;
	width: 100%;
	position: relative;
	min-height: 70vh;
	overflow: hidden;
}
.skill-title{
	font-size: 30px;
	text-align: center;
	font-family: 'Abel';
	margin: auto;	
}
.skill-content{
	width: 30%;
	margin: 4%;
	margin-left: 65%;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}
.skill-sep{
	width: 2px;
    margin: auto;
    border-bottom: 30px solid #ddd;
}
.skills-sep{
	width: 2px;
    margin: auto;
    border-bottom: 30px solid #ddd;
}
.sk-cont{
	margin-top: 25px;
	background-color: #D8B3DB;
	width: 200px;
}
.sk-cont1{
	margin-top: 25px;
	background-color: #D8B3DB;
	width: 200px;
	margin-left: 425px;
}
.sk-cont2{
	margin-top: 25px;
	background-color: #D8B3DB;
	width: 200px;
	margin-left: 625px;
}
.sk-cont3{
	margin-top: 25px;
	background-color: #D8B3DB;
	width: 200px;
	margin-left: 425px;
}
.sk-cont4{
	margin-top: 25px;
	background-color: #D8B3DB;
	width: 200px;
	margin-left: 625px;
}
.sk-cont5{
	margin-top: 25px;
	background-color: #D8B3DB;
	width: 200px;
	margin-left: 425px;
}
.skill-sec h3{
	text-align: center;
	color: #923D98;
}
.skill-title h3{
	color: #F2BCF6;
}
.skill-sec h2{
	padding-left: .50em;
	text-align: center;
	color: #DC82E2;
}
.skill-sec .fa{
	padding-right: .50em; 
}
.fa{
	padding-right: .10em;
}
.ach-container{
	background-color: #141414;
	padding: 300px;
}
